*{
    margin: 0;
    padding: 0;
}

html, body{
    background: url('../img/bodybg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container2{
    align-self: center;
    margin-top: 4%;
    background: url('../img/container_bg.jpg');
    min-height: 800px;
    border: yellow 3px solid;
}

li{
    list-style: none;
}

label{
	color: white;
}

a:hover{
    text-decoration: none;
    font-size: 20px;
}

.main_title{
    background: darkred;
    background-repeat: no-repeat;
    background-position: center;
    
    text-align: center;
    color: yellow;
}

/*sidebar*/

.sidebarlink{
    color: green;
}

.sidebarlink:hover{
    color: red;
}

.sidebar_title{
    background: url('../img/sidebar_title_bg.jpg');
    background-size: 5% 95%;
    color: #fff68f;
    text-align: center;
}

Post css

.latest-posts-div{
    border-left: black 2px solid;
    border-right: black 1px solid;
}

.sidebar{
    border-left: black 1px solid;
    border-right: black 2px solid;
}

.post_info{
    background: url('../img/blogbg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    min-height: 275px;
    opacity: 0.65;
    margin-top: 5%;
    margin-bottom: 2%;
}

.post_info:hover{
    box-shadow: 0 8px 6px -6px black;
    transform: scale(1.02);
}

.post_title{
    margin: 8% 2% 3% 0%;
}

.post_author{
    margin-top: 6%;
    
    
}

.post_time_author{
    background: white;
    border: 1px solid blue;
}

.post_time_author p{
    background: antiquewhite;
    display: inline-block;
    margin-top: 2%;
    margin-right: 5%;
    text-align: center;
}

.post_time_author .author_name{
    color: blue;
}

.post_time_author .category_name{
    color: green;
}

.post_time_author .post_time{
    color: brown;
}

.post_body{
    text-align: justify;
}

.post_body2{
    
    background: url('../img/blogbg2.jpg');
    background-size: contain;
    border: 1px solid darkblue;
    overflow: scroll;
    max-height: 1000px;
}

.post_body2 p{
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: justify;
}

.post-btn-grp{
    padding-top: 2%;
    padding-left: inherit;
}
.post-btn-grp button{
    display: inline;
    margin-right: 1em;
}

.txt-field{
    width: 85%;
}

.readBtn{
    margin-top: 1%;
}

.post-img{
    width: inherit;
    height: inherit;
}



.post-img2{
    float: left;
    margin-top: 9%;
    height: 250px;
    width: auto;
    margin-right: 10%;
    margin-bottom: 3%;
    
}

.pagination{
    background: navy;
    margin-bottom: 3%;
}

.pagination a{
    font-size: 18px;
    color: antiquewhite;
    margin: 0.5em;
}

.pagination strong{
    
    font-size: 24px;
    color: yellow;
}



/*Style for registration and login form */

.auth-form{
    margin: auto;
    margin-top: 5%;
    background: url('../img/auth_img.png');
    background-size: cover;
}

.tabrow{
    margin-top: 2%;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 18px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 25px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
    margin-top: 5%;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
